<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>

        <title>Examples Index</title>

        <link rel="stylesheet" href="../../../resources/css/bootstrap-2.3.0.css" th:href="@{/resources/css/bootstrap-2.3.0.css}"/>
    </head>

    <body>
        <div class="container">
            <div class="row span12">
                <h1>myth Dialect Examples Index</h1>

                <legend>CRUD Examples</legend>
                <ul>
                    <li>
                        <a th:href="@{/crudExamples/userControlPanel}" target="_blank">User Management</a>
                    </li>
                </ul>

                <legend>JSON Binding Examples</legend>
                <ul>
                    <li>
                        <a th:href="@{/jsonBindingExamples/complexJsonObjects}" target="_blank">Complex JSON Objects</a>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>